img{
	border-bottom: 2px solid black; 
    height:150px ;
	width: 100%;
}

img:hover {
	height:280px ;
	width: 100%;	

		}


#maintitle {
	text-align: center;
}

a{
	   
	    display: inline-block;
 vertical-align: middle;
}
.imgHolder{
	display: inline-block;
	border: 5px solid red; 
    height:280px ;
	
}
#imgin{
	border-bottom: 2px solid black; 
	
    height:70%;
	width: 100%;
}

#imgin:hover {
	margin: 0;
	height:100% ;
	width: 100%;	

		}
.imgReel{
    background-color: white;
    margin: 0 17% 0;
	display: grid;
  grid-template-columns: auto auto auto auto auto; 
}