<%- include("./partials/header") %>
<div id="container">
<h1>sign up</h1>
<form action="/signup" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="text" placeholder="password" name="password">
	<button>submit</button>
</form>
</div>
<%- include("./partials/footer") %>